.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #282c34;
}

.UnitDiv{
  display: flex;
  justify-content: space-around;
  width: auto;
  margin: 10px;
}

label{
  width: 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-top: 10px;
  display: unset;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btnDivLeft {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#yarnTableBtn {
  display: unset;
}

#conversionBtn {
  display: none;
}

#conversionDiv {
  display: unset;
}

#yarnTableDiv {
  display: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table{
  border-style: solid;
  margin-top: 10px;
  display:table;
}

.table-row{
  display: flex;
  justify-content: space-between;
}

th{
  font-size: 16px;
}

td{
  border-style:ridge;
  border-width: 1px;
  padding: 2px;
  font-size: 16px;
  font-style: normal;
  font-weight: lighter;
}

.imgDivDiv {
  margin-top: 20px;
}

.imgDiv {
  display: flex;
  justify-content: center;
}

.productImg{
  width: 200px;
  border-radius: 10px;
}

img {
  display: none;
}